html,
body,
#root {
  height: 100%;
  width: 100%;
}

.container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 10% auto 10%;

    grid-template-areas:
          "logo head head head"
          "side1 main main side2"
          "footer footer footer footer";
    grid-gap: 1rem;
}

#logo-container {
    grid-area: logo;
    top: 0px;
    left: 0px;
    overflow:hidden;
    object-fit: contain;
}

#logo {
    height: 100%;
    display: block;
    width: auto; 
}

.survey, .login, .default, .admin-container, .csv-upload {
    grid-area: main;
}

/* .admin-container {
    height: 100%;
    display: grid;
    grid-template-rows: 25% 75%;

    grid-template-areas:
          "table"
          "upload";
    grid-gap: 1rem;
} */

.table {
  grid-area: table;
}

.csv-upload {
  margin-top: 20px;
  grid-area: main;
  margin-bottom: 20px;
}

.header {
  grid-area: head;
}

.section-header {
    padding-top: 20px;
    padding-bottom: 10px;
}

/* TODO: do these belong at the top? */
@font-face {
  font-family: "D-DIN";
  src:
    url("./assets/fonts/D-DIN.woff") format("woff"),
    url("./assets/fonts/D-DIN.otf") format("opentype"),
    url("./assets/fonts/D-DIN.ttf") format("truetype");
}

@font-face {
  font-family: "D-DIN";
  src:
    url("./assets/fonts/D-DIN-Bold.woff") format("woff"),
    url("./assets/fonts/D-DIN-Bold.otf") format("opentype"),
    url("./assets/fonts/D-DIN-Bold.ttf") format("truetype");
  font-weight: bold;
}

/* for error msgs p in the survey form */
p {
  color: #bf1650;
}

p::before {
  display: inline;
  content: "⚠ ";
}

 /* {
  grid-area: side2;
} */
/* 
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
